<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Beregn avstand</h1>
    </div>
    <form action="/avstand" method="post">
        <div class="mdl-card__supporting-text mdl-color-text--black">
            <div class="mdl-typography--headline">Skole</div>
            {{#each skoler}}
            <label for="skoleRadio{{id}}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                <input type="radio" name="skole" value="{{id}}" id="skoleRadio{{id}}" class="mdl-radio__button warning-type-selector" required="required">
                <span class="mdl-radio__label">{{name}}</span>
            </label><br/>
            {{/each}}
            <div class="mdl-typography--headline margin-top-10">Adresse</div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="text" id="address" name="ADR" required="required">
                <label class="mdl-textfield__label fullWidth" for="address">Adresse eller gårds og bruksnummer</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="text" id="postnummer" name="POSTN">
                <label class="mdl-textfield__label fullWidth" for="postnummer">Postnummer</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="text" id="poststed" name="POSTS">
                <label class="mdl-textfield__label fullWidth" for="poststed">Poststed</label>
            </div>

        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
            <button type="submit" title="Sjekk avstand" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Beregn avstand</button>
        </div>
    </form>
</div>