<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Adresse for delt bosted</h1>
    </div>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="bosteddelt">
        <div class="mdl-card__supporting-text mdl-color-text--black">
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="text" id="ADR" name="ADR">
                <label class="mdl-textfield__label fullWidth" for="ADR">Gateadresse</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="tel" id="POSTN" name="POSTN">
                <label class="mdl-textfield__label fullWidth" for="POSTN">Postnummer</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="text" id="POSTS" name="POSTS">
                <label class="mdl-textfield__label fullWidth" for="POSTS">Poststed</label>
            </div>
            <div class="mdl-typography--headline margin-top-10">
                Fylles bare ut dersom bostedet ikke har gateadresse
            </div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="tel" id="GARD" name="GARD">
                <label class="mdl-textfield__label fullWidth" for="GARD">Gårdsnummer</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="tel" id="BRUK" name="BRUK">
                <label class="mdl-textfield__label fullWidth" for="BRUK">Bruksnummer</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield fullWidth">
                <input class="mdl-textfield__input fullWidth" type="tel" id="KOMNR" name="KOMNR">
                <label class="mdl-textfield__label fullWidth" for="KOMNR">Kommunenummer</label>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/previous" title="Gå til forrige punkt i søknaden" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Forrige</a>
            <div class="mdl-layout-spacer"></div>
            <button type="submit" title="Gå til neste punkt i søknaden" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Neste</button>
        </div>
    </form>
</div>