<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Oppslag feilet pga stor pågang</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black fontBigger">
        <div class="margin-bottom-10 fontBigger">
            Beklager, på grunn av stor pågang får vi ikke sjekket opplysningene dine hos folkeregisteret.
        </div>
        <div class="margin-bottom-10 fontBigger">
            Vennligst prøv igjen senere....
        </div>
        <div class="margin-bottom-10 fontBigger">
            .... vi sitter i en krok og skammer oss så lenge
        </div>
        <div class="fontBigger margin-top-10">
            Har du spørsmål kan du kontakte oss på <a href="mailto:skoleskyss@t-fk.no">skoleskyss@t-fk.no</a>.
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-layout-spacer"></div>
        <a href="/loggav" title="Avslutt og logg ut av ID-Porten" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Avslutt</a>
    </div>
</div>