<h1>Hjelp?</h1>
<h2>Elever som bor i Telemark kan ha rett på gratis skyss til og fra skolen</h2>
Telemark fylkeskommune har ansvar for å tilrettelegge skyssen for elever i den videregående skole, som etter lov og regelverk har rett til skyss.<br/>
<a href="http://www.telemark.no/Vaare-tjenester/Arealbruk-og-transport/Skoleskyss/Videregaaende-skole" target="_blank">Her kan du lese mer om hva du kan ha rett til</a>

<h2 id="helpaddress">Alternativ adresse – Delt bosted</h2>
 For å ha rett til gratis skoleskyss ved delt bosted, må du bo tilnærmet 50% på begge adresser.<br/>
Turnus for deling må signeres av begge foresatte og sendes fylkeskommunen snarest og senest innen en uke etter at du har søkt.

<h2 id="helpaarsak">Grunnlag for søknad – annen årsak</h2>
Dersom du har under 6 km avstand til skolen, og søker om gratis skoleskyss på annet grunnlag, må dokumentasjon sendes fylkeskommunen snarest.<br/>
Gyldig dokumentasjon er f.eks. legeattest som ikke er eldre enn et år.

<h2>Lurer du på noe?</h2>
<a href="http://www.telemark.no/Vaare-tjenester/Arealbruk-og-transport/Skoleskyss/Ofte-stilte-spoersmaal" target="_blank">Her finner du ofte stilte spørsmål om skoleskyss i videregående skole i Telemark</a>

<h2>Kontakt oss</h2>
Send en e-post til <a href="mailto:skoleskyss@t-fk.no">skoleskyss@t-fk.no</a>