<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Hjelp?</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black fontBigger">
        <div class="mdl-typography--headline">
            Elever som bor i Telemark kan ha rett på gratis skyss til og fra skolen
        </div>
        <div class="fontBigger">
            Telemark fylkeskommune har ansvar for å tilrettelegge skyssen for elever i den videregående skole, som etter lov og regelverk har rett til skyss.<br/>
            <a href="http://www.telemark.no/Vaare-tjenester/Arealbruk-og-transport/Skoleskyss/Videregaaende-skole" target="_blank">Her kan du lese mer om hva du kan ha rett til</a>
        </div>
        <div class="mdl-typography--headline">
            Alternativ adresse – Delt bosted
        </div>
        <div class="fontBigger">
            For å ha rett til gratis skoleskyss ved delt bosted, må du bo tilnærmet 50% på begge adresser.<br/>
            Turnus for deling må signeres av begge foresatte og sendes fylkeskommunen snarest og senest innen en uke etter at du har søkt.
        </div>
         <div class="mdl-typography--headline">
            Grunnlag for søknad – annen årsak
        </div>
        <div class="fontBigger">
            Dersom du har under 6 km avstand til skolen, og søker om gratis skoleskyss på annet grunnlag, må dokumentasjon sendes fylkeskommunen snarest.<br/>
            Gyldig dokumentasjon er f.eks. legeattest som ikke er eldre enn et år.
        </div>
         <div class="mdl-typography--headline">
            Lurer du på noe mer?
        </div>
        <div class="fontBigger">
            <a href="http://www.telemark.no/Vaare-tjenester/Arealbruk-og-transport/Skoleskyss/Ofte-stilte-spoersmaal" target="_blank">Her finner du ofte stilte spørsmål om skoleskyss i videregående skole i Telemark</a>
        </div>
        <div class="mdl-typography--headline">
            Kontakt oss
        </div>
        <div class="fontBigger">
            Send en e-post til <a href="mailto:skoleskyss@t-fk.no">skoleskyss@t-fk.no</a>
        </div>
    </div>
</div>