  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Oppslag feilet</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black fontBigger">
        <div>
            Beklager, du kan ikke søke elektronisk om skoleskyss med kollektivtilbudet.
        </div>
        <div>
            Dette skyldes en av følgende årsaker:
        </div>
        <div>
            <ul>
                <li>Du er folkeregistrert utenfor Telemark</li>
                <li>Du har hemmelig adresse</li>
                <li>Du ikke er registrert i folkeregisteret</li>
            </ul>
        </div>
        <div>
            Hvis du har folkeregistrert adresse utenfor Telemark må du kontakte fylkeskommunen i hjemfylket ditt for skyss.
        </div>
        <div>
            Hvis du har hemmelig adresse eller ikke er registrert i folkeregisteret må du henvende deg til skolen. Der får du utlevert søknadsskjema på papir.
        </div>
    </div>
</div>