  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Oppslag feilet</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black fontBigger">
        <div class="margin-bottom-10 fontBigger">
            Beklager, du kan ikke søke elektronisk om skoleskyss med kollektivtilbudet.
        </div>
        <div class="margin-bottom-10 fontBigger">
            Dette skyldes en av følgende årsaker:
        </div>
        <div>
            <ul>
                <li class="fontBigger">Du er folkeregistrert utenfor Telemark</li>
                <li class="fontBigger">Du har hemmelig adresse</li>
                <li class="fontBigger">Du ikke er registrert i folkeregisteret</li>
            </ul>
        </div>
        <div class="fontBigger margin-top-10">
            Hvis du har folkeregistrert adresse utenfor Telemark må du kontakte fylkeskommunen i hjemfylket ditt for skyss.
        </div>
        <div class="fontBigger margin-top-10">
            Hvis du har hemmelig adresse eller ikke er registrert i folkeregisteret må du henvende deg til skolen. Der får du utlevert søknadsskjema på papir.
        </div>
        <div class="fontBigger margin-top-10">
            Dersom du mener ikke noe av dette stemmer kan det ha oppstått en teknisk feil. Da er det fint om du kontakter oss på <a href="mailto:skoleskyss@t-fk.no">skoleskyss@t-fk.no</a> og forsøker igjen senere.
        </div>
    </div>
      <div class="mdl-card__actions mdl-card--border">
          <div class="mdl-layout-spacer"></div>
          <a href="/loggav" title="Avslutt og logg ut av ID-Porten" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Avslutt</a>
      </div>
</div>