<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Skoleskyss skoleåret 2016/2017</h1>
    </div>
    <form action="/start" method="post">
        <input type="hidden" name="stepName" value="skoleadresse">
        <div class="mdl-card__supporting-text mdl-color-text--black">
            <div class="fontBigger margin-bottom-10">
                Velkommen til søknad om fri skoleskyss fra Telemark fylkeskommune.
            </div>
            <div class="fontBigger margin-bottom-10">
                Selve søknaden tar 2 - 3 minutter å fylle ut.<br />
                Du får svar nesten med en gang.
            </div>
            <div class="mdl-typography--headline">
                Dette trenger du
            </div>
            <div>
                <ul>
                    <li class="fontBigger">
                        Busskort, om du har fått dette tidligere.
                    </li>
                    <li class="fontBigger">
                        Hybeladresse, om du skal bo på hybel.
                    </li>
                    <li class="fontBigger">
                        Adresse til bosted nummer 2, om du har delt bosted.
                    </li>
                    <li class="fontBigger">
                        Gårds- og bruksnummer for bosted, om det ikke har gateadresse. Dette finner du på f.eks. <a href="http://www.seeiendom.no" target="_blank">seeiendom.no</a>.
                    </li>
                    <li class="fontBigger">
                        Navn på skolen og hvilket fylke den ligger i, om du skal gå på skole utenfor Telemark.
                    </li>
                </ul>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
            <button type="submit" title="Start søknaden" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Start søknaden</button>
        </div>
    </form>
</div>