<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Personalia</h1>
    </div>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="personalia">
        <div class="mdl-card__supporting-text mdl-color-text--black">
        <input type="text" name="fornavn" placeholder="Fornavn">
        <input type="text" name="mellomnavn" placeholder="Mellomnavn">
        <input type="text" name="etternavn" placeholder="Etternavn">
            </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="/avbrutt" id="cancelEverything" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black" title="Avbryt søknadsprosessen"><i class="material-icons">delete</i></a>
            <div class="mdl-layout-spacer"></div>
            <button type="submit" title="Gå til neste punkt i søknaden" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black material-icons">send</button>
        </div>
    </form>
</div>