<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Personvern i Telemark fylkeskommune</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black">
        <div class="fontBigger margin-bottom-10">
            <strong>
                Når du bruker våre elektroniske løsninger, ønsker vi du skal føle deg trygg på at gjeldende lover og regler følges.
                Denne siden forteller deg hvordan vi behandler personopplysningene du oppgir på nettstedet.
            </strong>
        </div>
        <div class="mdl-typography--headline fontBigger margin-bottom-10">
            <strong>
                Hva er personopplysninger?
            </strong>
        </div>
        <div class="fontBigger margin-bottom-10">
            Personopplysning er en opplysning som kan knyttes til deg som enkeltperson, slik som for eksempel navn, adresse, telefonnummer, e-postadresse og fødselsnummer.<br/>
            Vi behandler personopplysningene i samsvar med personopplysningsloven.
        </div>
        <div class="mdl-typography--headline fontBigger margin-bottom-10">
            <strong>
                Formålet med behandlingen av personopplysninger
            </strong>
        </div>
        <div class="fontBigger margin-bottom-10">
            Opplysningene du fyller inn i elektroniske skjema sendes over til den som skal behandle din henvendelse i fylkeskommunen. Denne informasjonen gjør at vi er i stand til å gi deg god saksbehandling på din henvendelse. Vi behandler opplysningene om deg på samme måte som om du hadde sendt inn et papirskjema.
        </div>
        <div class="mdl-typography--headline fontBigger margin-bottom-10">
            <strong>
                Lagring av personopplysninger
            </strong>
        </div>
        <div class="fontBigger margin-bottom-10">
            Når du logger deg på med MinId kan du når som helst velge å avbryte utfyllingen av skjema. Opplysningene du allerede har tastet inn vil slettes umiddelbart fra våre servere.
            Når du velger å sende inn skjema, vil det bli sendt videre til den i fylkeskommunen som skal behandle henvendelsen din. Vi arkiverer henvendelsen i vårt arkivsystem.
        </div>
        <div class="mdl-typography--headline fontBigger margin-bottom-10">
            <strong>
                Sikker linje
            </strong>
        </div>
        <div class="fontBigger margin-bottom-10">
            Alle opplysninger som overføres mellom din datamaskin og til oss foregår over sikker linje. Løsningen tilsvarer sikkerheten som brukes i nettbankene.
        </div>
        <div class="mdl-typography--headline fontBigger margin-bottom-10">
            <strong>
                Rett til innsyn og rett til sletting av personopplysninger
            </strong>
        </div>
        <div class="fontBigger">
            Du kan når som helst be om å se opplysningene vi har registrert om deg. Dette gjør du ved å sende oss en e-post til <a href="mailto:post@t-fk.no">post@t-fk.no</a> eller ringe oss på <a href="tel:+4735917000">35 91 70 00</a>. Dersom du finner opplysningene som er unøyaktige eller ufullstendige, kan du kreve å få opplysningene slettet.
        </div>
    </div>
</div>