<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Uendret søknad</h1>
    </div>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="soknaduendret">
        <div class="mdl-card__supporting-text mdl-color-text--black">
            <div class="fontBigger">
                Vi finner ingen nye eller endrede opplysninger i søknaden du akkurat fylte ut.
            </div>
            <div class="fontBigger">
                Behandling av søknaden vil gi samme resultat som forrige søknad.
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
            <button type="submit" title="Jeg vil søke likevel" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Jeg vil søke likevel</button>
        </div>
    </form>
</div>