<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1>Søknad uendret</h1>
    </div>
    <form action="/next" method="post">
        <input type="hidden" name="stepName" value="soknaduendret">
        <div class="mdl-card__supporting-text mdl-color-text--black">
            Du har ikke oppgitt opplysninger som vil endre utfallet av saksbehandlingen
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
            <button type="submit" title="Gå til neste punkt i søknaden" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black material-icons">send</button>
        </div>
    </form>
</div>