<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Søkt tidligere</h1>
    </div>
    <form action="/next" method="post">
    <input type="hidden" name="stepName" value="sokttidligere">
    <div class="mdl-card__supporting-text mdl-color-text--black">
        <div class="fontBigger">
            Vi har allerede registrert en søknad fra deg om skyss med kollektivtilbudet for dette skoleåret.
        </div>
        <div class="fontBigger">
            Du skal bare søke på nytt hvis du har endret/byttet skole og/eller adresse.
        </div>
        <div class="mdl-typography--headline margintop10">
            Mistet eller ødelagt skolekort? 
        </div>
        <div class="fontBigger">
            Har du mistet eller ødelagt skolekortet ditt skal du ikke sende inn ny søknad.
            Du må henvende deg til skolen som bestiller nytt skolekort til deg.
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-layout-spacer"></div>
        <button type="submit" title="Jeg vil søke likevel" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Jeg vil søke likevel</button>
    </div>
    </form>
</div>