<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1>Testoppsett</h1>
    </div>
    <form action="/test" method="post">
        <div class="mdl-card__supporting-text mdl-color-text--black">
            <div class="mdl-typography--headline">Session</div>
            <label for="resetSessionChkBx" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect chxBxorden">
                <input type="checkbox" name="resetSession" value="1" id="resetSessionChkBx" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Reset session</span>
            </label>
            <div class="mdl-typography--headline">Settings</div>
            <label for="personNotFoundChkBx" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect chxBxorden">
                <input type="checkbox" name="personNotFound" value="1" id="personNotFoundChkBx" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Person ikke funnet hos dsf</span>
            </label>
            <label for="personAlreadyAppliedChkBx" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect chxBxorden">
                <input type="checkbox" name="personAlreadyApplied" value="1" id="personAlreadyAppliedChkBx" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Person søkt tidligere</span>
            </label>
            <label for="duplicateApplicationChkBx" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect chxBxorden">
                <input type="checkbox" name="duplicateApplication" value="1" id="duplicateApplicationChkBx" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Duplikatsøknad</span>
            </label>
            <div class="mdl-typography--headline">Personalia</div>
            <div class="mdl-typography--headline">Kontaktinformasjon</div>
            <div class="mdl-typography--headline">Folkeregistrert adresse</div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-layout-spacer"></div>
            <button type="submit" title="Start test" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black material-icons">send</button>
        </div>
    </form>
</div>