<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Beklager</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black">
        <div class="mdl-typography--headline margin-top-10">Søknaden kan ikke behandles videre</div>
        <div class="fontBigger">
            Du kan ikke søke før opplysningene er riktig.<br />
            For å endre folkeregistrert adresse må du sende flyttemelding til <a href="http://www.skatteetaten.no/no/Skjemaer/Flyttemelding-til-folkeregisteret/" target="_blank">skatteetaten</a>.<br />
            Hvis mobil og/eller epostadresse er feil må du endre opplysningene dine hos <a href="http://www.norge.no/nb/oppdater-kontaktinformasjon" target="_blank">Norge.no</a>
        </div>
        <div class="fontBigger">
            Når opplysningene er endret kan du søke påny.
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-layout-spacer"></div>
        <a href="/loggav" title="Avslutt og logg ut av ID-Porten" class="mdl-button mdl-js-button mdl-color-text--black fontBiggerButton">Avslutt</a>
    </div>
</div>