<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Vilkår for skoleskyss</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black">
        <ul>
            <li class="fontBigger">
                Jeg søker om skoleskyss i henhold til gjeldende reglement.
            </li>
            <li class="fontBigger">
                Jeg vet at jeg bare kan bruke busskortet en tur om morgenen til skolen og en tur hjem fra skolen, samt til/fra utplasseringsbedrift. Bruk utover dette ansees som misbruk.
            </li>
            <li class="fontBigger">
                Dersom jeg slutter ved skolen i løpet av skoleåret, vil tildelt busskort bli levert tilbake.
            </li>
            <li class="fontBigger">
                Jeg er klar over at busskort vil bli inndratt ved misbruk, eller dersom opplysninger etc. ikke er riktig. I slike tilfeller kan jeg bli gjort økonomisk ansvarlig.
            </li>
            <li class="fontBigger">
                Dersom jeg i løpet av skoleåret flytter og dermed ikke har krav på skyss i henhold til gjeldende reglement, forplikter jeg meg til å levere busskortet tilbake.
            </li>
            <li class="fontBigger">
                Jeg er klar over at jeg selv må dekke reisekostnader mens jeg venter på erstatningskort, dersom jeg mister eller ødelegger kortet.
            </li>
            <li class="fontBigger">
                Erstatningskort utstedes mot gebyr.
            </li>
        </ul>
    </div>
</div>