<div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title mdl-color-text--black">
        <h1 class="margin-bottom-10">Vilkår for skoleskyss</h1>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black">
        <ul>
            <li class="fontBigger">
                Jeg bekrefter at opplysningene jeg har oppgitt i søknaden er riktig og fullstendig.
            </li>
            <li class="fontBigger">
                Jeg søker om skoleskyss i henhold til gjeldende reglement.
            </li>
            <li class="fontBigger">
               Jeg vet at jeg bare kan bruke skolekortet en tur om morgenen til skolen og en tur hjem fra skolen, samt til/fra utplasseringsbedrift når mulig. Bruk utover dette ansees som misbruk.
            </li>
            <li class="fontBigger">
                Jeg er klar over at skolekortet vil bli sperret ved misbruk, eller dersom jeg har oppgitt feil/mangelfulle opplysninger. I slike tilfeller kan jeg bli gjort økonomisk ansvarlig.
            </li>
            <li class="fontBigger">
                Jeg er klar over at jeg selv må betale for reiser med kollektivtilbudet mens jeg venter på skolekortet mitt. Jeg kan ikke kreve refusjon av billettutgiftene.
            </li>
            <li class="fontBigger">
                Hvis jeg mister skolekortet mitt vet jeg at jeg må betale et erstatningsgebyr for å få nytt skolekort.
            </li>
            <li class="fontBigger">
                Hvis jeg flytter og/eller bytter skole i løpet av skoleåret, vet jeg at jeg må sende inn ny søknad om skyss med kollektivtilbudet.
            </li>
            <li class="fontBigger">
                Hvis jeg flytter, bytter skole og/eller slutter på skolen i løpet av skoleåret forplikter jeg meg til å levere skolekortet tilbake til skolen umiddelbart.
            </li>
        </ul>
    </div>
</div>